<!DOCTYPE html>
<html>
<head>
    <title>판매자 대시보드</title>
</head>
<body>
    <h1>환영합니다, {{ seller.sellerName }}님!</h1>

    <h3>판매자 정보</h3>
    <ul>
        <li>아이디: {{ seller.username }}</li>
        <li>매장 이름: {{ seller.store_name }}</li>
        <li>전화번호: {{ seller.phone_number }}</li>
        <li>주소: {{ seller.address }}</li>
    </ul>
    <hr>

    <h3>판매자가 등록한 상품 목록</h3>
<ul>
    {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong><br>
            가격: {{ product.price }}<br>
            수량: {{ product.quantity }}<br>
            {% if product.uploaded_image %}
                이미지: <img src="{{ product.uploaded_image.url }}" alt="{{ product.name }}" width="100"><br>
            {% endif %}
        </li>
        <hr>
    {% empty %}
        <li>등록된 상품이 없습니다.</li>
    {% endfor %}
</ul>


    <hr>

    <a href="/seller/seller_upload/">상품등록</a>

    <hr>

    <a href="{% url 'seller_logout' %}">로그아웃</a>
</body>
</html>