{% include 'single_pages/navbar.html' %}

<h2 class="container position-relative d-flex align-items-center justify-content-center" style="margin-top: 10px">
    로그인
</h2>
<div class="container position-relative d-flex align-items-center justify-content-center" style="margin-top: 10px">

    <form method="post">
    {% csrf_token %}
        <input type="text" name="username" placeholder="아이디" required><br>
        <input type="password" name="password" placeholder="비밀번호" required><br>

        <button class="container position-relative d-flex align-items-center justify-content-center" style="margin-top: 10px" type="submit">
            로그인
        </button>
        <a class="container position-relative d-flex align-items-center justify-content-center" style="margin-top: 10px;color: black">
            또는
        </a>

    </form>
</div>

        <button class="container position-relative d-flex align-items-center justify-content-center" style="margin-top: 10px;">
            <a style="color: black" href="/users/signup/" >회원가입</a>
        </button>

{% include 'single_pages/footer.html' %}