{% extends 'products/base.html' %}
{% load static %}
{% block main-area %}

 Product Start
<!--<div class="container-xxl py-5">-->
<!--    <div class="container">-->
<!--        <div class="row g-0 gx-5 align-items-end">-->
<!--&lt;!&ndash;            <div class="col-lg-6">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h1 class="display-5 mb-3">Our Products</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">-->
<!--                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">-->

<!--                    {% for category in categories %}-->
<!--                        <li class="nav-item">-->
<!--                            <a class="btn btn-outline-primary border-2" href={{ category.get_category_url }}>{{ category.itemname }}</a>-->

<!--                        </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tab-content">-->
<!--            <div id="tab-1" class="tab-pane fade show p-0 active">-->
<!--                <div class="row g-4">-->

<!--                    {% for product in products %}-->

<!--                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">-->
<!--                            <div class="product-item">-->
<!--                                <div class="position-relative bg-light overflow-hidden">-->
<!--                                    <img class="img-fluid w-100" src="{{ product.uploaded_image.url }}" alt="">-->
<!--&lt;!&ndash;                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="text-center p-4">-->
<!--                                    <a class="d-block h5 mb-2" href="">{{ product.name }}</a>-->
<!--                                    <span class="text-primary me-1">{{ product.price }}</span>-->
<!--    &lt;!&ndash;                                <span class="text-body text-decoration-line-through">$29.00</span>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="d-flex border-top">-->
<!--                                    <small class="w-50 text-center border-end py-2">-->
<!--                                        <a class="text-body" href="{{ product.get_absolute_url }}"><i class="fa fa-eye text-primary me-2"></i>View detail</a>-->
<!--                                    </small>-->
<!--                                    <small class="w-50 text-center py-2">-->
<!--                                        <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>-->
<!--                                    </small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    {% endfor %}-->

<!--                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">-->
<!--                        <a class="btn btn-primary rounded-pill py-3 px-5" href="/products/">Browse All Products</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--==========================================================================================================-->
<!--<style>-->
<!--body, div {-->
<!--    margin: 0;-->
<!--}-->

<!--.container {-->
<!--    background-color: #f3f5f7;-->
<!--    padding: 2rem;-->
<!--    border-collapse: collapse;-->
<!--}-->
<!--.container:nth-child(n+2){-->
<!--    margin-top: 1rem;-->
<!--}-->

<!--.draggable {-->
<!--    height: 82px;-->
<!--    line-height: 82px;-->
<!--    padding: 0 20px;-->
<!--    background-color: white;-->
<!--    border: 1px solid #c5cdd7;-->
<!--    border-bottom:none;-->
<!--    box-sizing: border-box;-->
<!--    cursor: move;-->
<!--}-->
<!--.draggable:last-child {-->
<!--    border-bottom: 1px solid #c5cdd7;-->
<!--}-->

<!--.draggable.dragging {-->
<!--    opacity: .5;-->
<!--    border: 2px dashed red;-->
<!--}-->

<!--.el {-->
<!--    display: inline-block;-->
<!--    vertical-align: middle;-->
<!--}-->
<!--.ico-drag {-->
<!--    display: inline-block;-->
<!--    vertical-align: inherit;-->
<!--    width: 15px;-->
<!--    height: 15px;-->
<!--    background: url(./menu.png) no-repeat center top;-->
<!--    background-size: cover;-->
<!--}-->
<!--</style>-->

<!--<body>-->
<!--    <div class="container">-->
<!--        {% for category in categories %}-->
<!--            <div class="draggable" draggable="true">-->
<!--                <span class="ico-drag"></span>-->
<!--                <div class="el">{{ category.itemname }}</div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--    <div class="container">-->

<!--    </div>-->

<!--</body>-->

<!--<script>-->
<!--/**-->
<!-- * [x] 엘리먼트의 .draggable, .container의 배열로 선택자를 지정합니다.-->
<!-- * [x] draggables를 전체를 루프하면서 dragstart, dragend를 이벤트를 발생시킵니다.-->
<!-- * [x] dragstart, dragend 이벤트를 발생할때 .dragging라는 클래스를 토글시킨다.-->
<!-- * [x] dragover 이벤트가 발생하는 동안 마우스 드래그하고 마지막 위치해놓은 Element를 리턴하는 함수를 만듭니다.-->
<!-- */-->

<!--(() => {-->
<!--    const $ = (select) => document.querySelectorAll(select);-->
<!--    const draggables = $('.draggable');-->
<!--    const containers = $('.container');-->

<!--    draggables.forEach(el => {-->
<!--        el.addEventListener('dragstart', () => {-->
<!--            el.classList.add('dragging');-->
<!--        });-->

<!--        el.addEventListener('dragend', () => {-->
<!--            el.classList.remove('dragging')-->
<!--        });-->
<!--    });-->

<!--    function getDragAfterElement(container, y) {-->
<!--        const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]-->

<!--        return draggableElements.reduce((closest, child) => {-->
<!--          const box = child.getBoundingClientRect() //해당 엘리먼트에 top값, height값 담겨져 있는 메소드를 호출해 box변수에 할당-->
<!--          const offset = y - box.top - box.height / 2 //수직 좌표 - top값 - height값 / 2의 연산을 통해서 offset변수에 할당-->
<!--          if (offset < 0 && offset > closest.offset) { // (예외 처리) 0 이하 와, 음의 무한대 사이에 조건-->
<!--            return { offset: offset, element: child } // Element를 리턴-->
<!--          } else {-->
<!--            return closest-->
<!--          }-->
<!--        }, { offset: Number.NEGATIVE_INFINITY }).element-->
<!--    };-->

<!--    containers.forEach(container => {-->
<!--        container.addEventListener('dragover', e => {-->
<!--            e.preventDefault()-->
<!--            const afterElement = getDragAfterElement(container, e.clientY);-->
<!--            const draggable = document.querySelector('.dragging')-->
<!--            // container.appendChild(draggable)-->
<!--            container.insertBefore(draggable, afterElement)-->
<!--        })-->
<!--    });-->
<!--})();-->
<!--</script>-->
<!--==========================================================================================================-->
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #3d4e56fa;
  display: flex;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 8px;
  margin: 12px;
  cursor: move;
  font-size: 30px;
  background: #eaeaea4f;
}

.container {
  margin: 10px;
  padding: 10px;
  background-color: #b5c1dc57;
  border-radius: 8px;
}

.draggable.dragging {
  opacity: 0.5;
}
</style>


<body>
  <div class="container">
    <button class="draggable" draggable="true">🦊</button>
    <button class="draggable" draggable="true">🐸</button>
  </div>
  <div class="container">
    <button class="draggable" draggable="true">🐶</button>
    <button class="draggable" draggable="true">🐱</button>
  </div>
  <script src="main.js"></script>
</body>

<script>
const draggables = document.querySelectorAll(".draggable");
const containers = document.querySelectorAll(".container");

draggables.forEach(draggable => {
  draggable.addEventListener("dragstart", () => {
    draggable.classList.add("dragging");
  });

  draggable.addEventListener("dragend", () => {
    draggable.classList.remove("dragging");
  });
});

containers.forEach(container => {
  container.addEventListener("dragover", e => {
    e.preventDefault();
    const afterElement = getDragAfterElement(container, e.clientX);
    const draggable = document.querySelector(".dragging");
    if (afterElement === undefined) {
      container.appendChild(draggable);
    } else {
      container.insertBefore(draggable, afterElement);
    }
  });
});

function getDragAfterElement(container, x) {
  const draggableElements = [
    ...container.querySelectorAll(".draggable:not(.dragging)"),
  ];

  return draggableElements.reduce(
    (closest, child) => {
      const box = child.getBoundingClientRect();
      const offset = x - box.left - box.width / 2;
      // console.log(offset);
      if (offset < 0 && offset > closest.offset) {
        return { offset: offset, element: child };
      } else {
        return closest;
      }
    },
    { offset: Number.NEGATIVE_INFINITY },
  ).element;
}

</script>




<!-- Product End -->
{% endblock %}