{% extends 'products/base.html' %}
{% block main-area %}

    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Our Products</h2>
        <p><span>Check Our</span> <span class="description-title">Products</span></p>
      </div><!-- End Section Title -->


      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" href={{ category.get_category_url }} >
                <h4>{{ category.name }}</h4>
              </a>
            </li><!-- End tab nav item -->
          {% endfor %}
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Products</p>
              <h3>Starters</h3>
            </div>
            {% for product in products %}
              <div class="row gy-5">
                <div class="col-lg-4 menu-item">
                    <a href="{{ product.get_absolute_url }}">
                      <img src="{{ product.uploaded_img }}" class="menu-img img-fluid" alt="">
                    </a>
                    <!--Category section-->
                      {% if product.category %}
                        <a href="#!">
                          {{ product.category.name }}
                        </a>
                      {% else %}
                        <a href="#!">미분류</a>
                      {% endif %}
                    <!--/Category section-->
                    <h4>{{ product.name }}</h4>
                    <p class="ingredients">
                      {{ product.quantity }}
                    </p>
                    <p class="price">
                      {{ product.price }}
                    </p>
                </div><!-- Menu Item -->
              </div>
            {% endfor %}
          </div><!-- End Starter Menu Content -->
        </div>
      </div>
    </section><!-- /Menu Section -->

{% endblock %}

